@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins','sans-serif';
}
body
{
 
  color: #ededed;

}
.header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background:transparent;
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: space-between;
}
.logo
{
  position: relative;
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 650;
}
.logo::before
{
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: .4s;

}
.navbar a
{
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  margin-left: 35px;
}
.navbar a:hover
{
 color: aquamarine; 
}
.home
{
  height: 100vh;
  background: url('home8.jpg');
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 0 10%;
  background-size: cover;
  background-position: none;
  
}
.home-content
{
  max-width: 600px;
}
.home-content h1
{
  position: relative;
  font-size: 46px;
  font-weight: 600;
  line-height: 1.2;
}
.home-content h1::before
{
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}
.home-content h3{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: aqua;
}
.home-content h3::before
{
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.5s;
}
.home-content p
{
  position: relative;
  font-size: 12px;
  margin: 20px 0 40px;
}
.home-content p::before
{
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.8s;
}
.home-content .btn-box
{
  position: relative;
  width: 345px;
  height: 50px;
  
}
.home-content .btn-box::before
{
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background:#081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.9s;
  z-index: 2;
}
.btn-box a
{
  width: 100px;
  height: 100%;
  background: aqua;
  border: 2px solid aqua;
  border-radius: 8px;
  display: inline-flex;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}
.btn-box a:hover
{
  color: aqua;
}

.btn-box a:nth-child(2)
{
  background: transparent;
  color: aqua;
}
.btn-box a:nth-child(2):hover
{
  color: #081b29;
}

.btn-box a:nth-child(2)::before
{
  background: aqua;
}
.btn-box a::before
{
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background:#081b29;
  z-index: -1;
  transition: .5s;
}
.btn-box a:hover:before
{
  width: 100%;
}
.home-sci
{
  position: absolute;
  bottom: 40px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}
.home-sci::before
{
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background:#081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 2.2s;
  z-index: 2;
}
.home-sci a
{
  display:inline-flex;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 2px solid aqua;
  border-radius: 50%;
  font-size: 20px;
  color: aqua;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  position: relative;
}
.home-sci a:hover
{
  background: aquamarine;
  color: #081b29;
}

.home-imgHover
{
  position: absolute;
  top: 0;
  right: 30px;
  width: 530px;
  height: 100%;
  background: transparent;
  transition: 3.1s;
  animation: manipActiveHover .1s forwards;
  animation-delay: 4s;
  pointer-events: none;
}
.home-imgHover::after
{
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  width: 127%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay: 3s;
  background: #081b29;
  z-index: 100;

}
.home-imgHover:hover
{
  background: #081b29;
  opacity: .8;
}

/*keyframes animation*/
@keyframes showRight
{
  100%
  {
    width: 0;
  }
}

@keyframes manipActiveHover
{
  100%
  {
    pointer-events: auto;
  }
}